#main1 {
    border: 3px white solid;
    text-align: center;
    color: white;
    min-width: fit-content;
  }
  
  img {
    width: 90px;
  }
  
  th {
   border-bottom :2px white solid;
   text-align:center;
  }
  td{
    width:0.5%;
  }
  
  #main {
    margin-bottom: 2%;
    padding-left:3%;
    padding-right: 3%;
  
  }
  
  h1 {
    text-transform: capitalize;
    color: white;
    text-align: center;
    padding-top: 1%;
  }
  